In [1]:
import numpy as np
import pandas as pd
import matplotlib as mlp

In [2]:
df=pd.read_csv("CSM_dataset1.csv")
df.head()

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0

In [3]:
df.describe()

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
count,231.000000,231.000000,231.000000,2.310000e+02,2.310000e+02,229.000000,231.000000,231.000000,2.310000e+02,231.000000,231.000000,231.000000,1.960000e+02
mean,2014.294372,6.441558,5.359307,6.806603e+07,4.771861e+07,2262.152838,1.359307,2.809524,3.712851e+06,12732.536797,679.051948,1825.701299,3.038193e+06
std,0.456750,0.988765,4.141611,8.890289e+07,5.425800e+07,1686.182967,0.967241,6.996775,4.511104e+06,28825.484481,1243.929481,3571.040447,4.886278e+06
min,2014.000000,3.100000,1.000000,2.470000e+03,7.000000e+04,2.000000,1.000000,-38.000000,6.980000e+02,1.000000,0.000000,0.000000,1.066000e+03
25%,2014.000000,5.800000,1.000000,1.030000e+07,8.966390e+06,482.000000,1.000000,0.000000,6.233020e+05,1776.500000,105.500000,248.500000,1.830250e+05
50%,2014.000000,6.500000,3.000000,3.740000e+07,2.800000e+07,2776.000000,1.000000,0.000000,2.409338e+06,6096.000000,341.000000,837.000000,1.052600e+06
75%,2015.000000,7.100000,8.000000,8.935000e+07,6.500000e+07,3372.000000,1.000000,5.500000,5.217380e+06,15247.500000,697.500000,2137.000000,3.694500e+06
max,2015.000000,8.700000,15.000000,6.430000e+08,2.500000e+08,15115.000000,7.000000,29.000000,3.262678e+07,370552.000000,13960.000000,38363.000000,3.103000e+07

In [4]:
df=df.drop(["Movie"],axis=1)

In [5]:
Scr=df["Screens"]
df["Screens"]=Scr.fillna(Scr.mean())
Agg=df["Aggregate Followers"]
df["Aggregate Followers"]=Agg.fillna(Agg.mean())

In [6]:
from sklearn.preprocessing import LabelEncoder
df = df.apply(LabelEncoder().fit_transform)

In [7]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Year                     1.0
Ratings                 13.0
Genre                    6.0
Gross                  108.0
Budget                  43.5
Screens                108.0
Sequel                   0.0
Sentiment                5.5
Views                  115.0
Likes                  114.0
Dislikes               102.0
Comments               109.0
Aggregate Followers     82.0
dtype: float64

In [8]:
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
df.shape

(175, 13)

In [9]:
label=df["Aggregate Followers"]
df=df.drop(["Aggregate Followers"],axis=1)

In [10]:
label.describe()

count    175.000000
mean      98.320000
std       50.608713
min        0.000000
25%       55.500000
50%      110.000000
75%      137.000000
max      188.000000
Name: Aggregate Followers, dtype: float64

In [11]:
df.boxplot()

In [12]:
from sklearn import model_selection
from sklearn.metrics import accuracy_score, log_loss

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

from sklearn.metrics import classification_report

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LinearRegression

C:\Users\SAAD\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, label, test_size = 0.2, random_state = 14)

In [14]:
classifiers=[
    KNeighborsClassifier(3),
    SVC(kernel='rbf',C=0.25, probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    MLPClassifier(alpha=1),
    GradientBoostingClassifier(),
    GaussianNB(),
    LinearDiscriminantAnalysis()]
linearReg=LinearRegression()

In [15]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    name = clf.__class__.__name__
    print("="*30)
    print(name)
    
    print('Predicted values')
    train_predictions = clf.predict(X_test)
    print(train_predictions)
    acc = accuracy_score(y_test, train_predictions)
    print("Accuracy: {:.4%}".format(acc))
    
print("="*30)

==============================
KNeighborsClassifier
Predicted values
[127 127  41 102 137  70   0  57 137  42  91  82  83  31  22  45   8  13
 137  16  78  79 115  36  16   0 137  58 111   8  46  15 137   3  94]
Accuracy: 2.8571%
==============================
SVC
Predicted values
[137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137
 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137]
Accuracy: 20.0000%
==============================
DecisionTreeClassifier
Predicted values
[129  55  67 137 137 137   0 137  96  28 100 127  55  31 137  94 116  20
 105 137   0 152 158 101 137  55  40 187  92 151  94  16 137 137  22]
Accuracy: 8.5714%
==============================
RandomForestClassifier
Predicted values
[  0 132  97 105 182 137 137 137  46 137 100  82 125  31  71 137 116 137
  20 137   0  41  12 101 137  21  32  58 137   8 137   7 137  18 137]
Accuracy: 8.5714%
==============================
AdaBoostClassifier
Predicted values
[137 127 137 137 137 137 137 137 137 137 185 185 137 137 137 137 137 137
 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137]
Accuracy: 17.1429%

C:\Users\SAAD\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

==============================
MLPClassifier
Predicted values
[ 10   0  67 137 137 137 137 137 179  54 132 137 136 101  74 137 116  36
 137  16  58  79 173 137 137 172  40 173 159   8 137  71 137  61 137]
Accuracy: 14.2857%
==============================
GradientBoostingClassifier
Predicted values
[137  61 137 137 137 137 137 137 137 137  50 137 137 101  73  67 105 137
 168  24 125  84  83 129  94 137 137  83  92 151 137 140  28   6 137]
Accuracy: 8.5714%
==============================
GaussianNB
Predicted values
[137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137
 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137 137]
Accuracy: 20.0000%
==============================
LinearDiscriminantAnalysis
Predicted values
[ 41  10   8 102 137  89 157 143 168  19 100  82  56 101  22 137 157 148
 105  10 125  73 168  21   3 172 128 137  96 134   3   7  83   3 137]
Accuracy: 0.0000%
==============================

C:\Users\SAAD\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")